:root {
  --md-admonition-icon--donating: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/></svg>')
}
.md-typeset .admonition.donating,
.md-typeset details.donating {
  border-color: rgb(255, 0, 93);
}
.md-typeset .donating > .admonition-title,
.md-typeset .donating > summary {
  background-color: rgb(255, 0, 93, 0.1);
}
.md-typeset .donating > .admonition-title::before,
.md-typeset .donating > summary::before {
  background-color: rgb(255, 0, 93);
  -webkit-mask-image: var(--md-admonition-icon--donating);
          mask-image: var(--md-admonition-icon--donating);
}
